{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="banner-area relative">
   <div class="overlay overlay-bg"></div>
   <div class="banner-content text-center">
      <h1>Моя фотогаллерея</h1>
   </div>
</section>
<div class="section-top-border">
   <div class="container">
      <h3>Все изображения</h3>
      <div class="row gallery-item">
         {% for photo in photos %}
         <div class="col-md-4">
            <a href="#" class="img-gal">
               <div class="single-gallery-image" style="background: url({{photo.image.url}});"></div>
            </a>
            <p>{{photo.description}}</p>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <nav class="blog-pagination justify-content-center d-flex">
         {% if photos.has_other_pages %}
         <ul class="pagination pagination-padding">
            {% if photos.has_previous %}
            <li class="page-item">
               <a href="?page={{ photos.previous_page_number }}" class="page-link" aria-label="Previous">
               <span aria-hidden="false">
               <span class="ti-arrow-left"></span>
               </span>
               </a>
            </li>
            {% endif %}
            {% for i in photos.paginator.page_range %}
            {% if photos.number == i %}
            <li class="page-item active"><a href="#" class="page-link">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            {% if photos.has_next %}
            <li>
               <a href="?page={{ photos.next_page_number }}" class="page-link" aria-label="Next">
               <span aria-hidden="false">
               <span class="ti-arrow-right"></span>
               </span>
               </a>
            </li>
            {% endif %}
         </ul>
         {% endif %}
      </nav>
   </div>
</div>

{% endblock %}